{% extends 'base.html.twig' %}

{% block title %}COSPO{% endblock %}

{% block body %}

<div class ="bodyAccueil">
  <div class="cover">
    <h1>Trouve un événement sportif près de chez toi !</h1>
    <form  class="flex-form">
      <input type="search" placeholder="Barre de recherche multifiltre">
      <input type="submit" value="Recherche">
    </form>
  </div>
</div>

{% endblock %}
